{% extends "main/base.html" %}

{% block content %}
<h1 class="title">
  Hello there! I'm a Junior Python Developer
</h1>
<p>
  <h2 class="subtitle">
    Check this links for more information
  </h2>
</p>
<p class="mgb-small">
<center>
  <div class="box" style="width: 200px;">
  <a href="https://github.com/l4neboy">GitHub</a>
  </div>
</center>
</p><br>
<p class="mgb-small">
<center>
  <div class="box" style="width: 200px;">
  <a href="https://www.linkedin.com/in/pavel-nikishin-421711203/">LinkedIn</a>
  </div>
</center>
</p><br>
<p class="mgb-small">
<center>
  <div class="box" style="width: 200px;">
  <a href="https://hh.ru/resume/34ee817bff07c411840039ed1f49504d61636a">HeadHunter</a>
  </div>
</center>
</p>
{% endblock %}