{% extends "main/base.html" %}

{% block content %}
<h1 class="title">
  Hello there! Im Junior Python Developer
</h1>
<h2 class="subtitle">
  I am interested in a wide variety of IT related subjects – from internal
algorithms to technologies and devices for everyday use. I enjoy advancing
my Python skills and working with the Linux terminal in my free time. In
addition, I know how to communicate with different people as I am usually
able to find the right approach to any person in my workplace. I believe that a
good conversation can be a key to resolving many problems in work
processes and any general life situations. It is easy for me to both work in a
team and complete projects on my own. I consider myself a responsible
person and I know how to finish tasks successfully and achieve goals on time.
</h2>
<h1 class="title">
  Check this links for more information 
</h1>
{% endblock %}