{% extends "main/base.html" %}

{% block content %}
<h1 class="title">
  Hello there! I'm a Junior Python Developer
</h1>
<h2 class="subtitle">
  Check this links for more information
</h2>
<p>
    <form action="https://github.com/l4neboy" target="_blank">
        <button class="button is-large">GitHub</button>
    </form>
    <form action="https://www.linkedin.com/in/pavel-nikishin-421711203/" target="_blank">
        <button class="button is-large">LinkedIn</button>
    </form>
    <form action="https://hh.ru/resume/34ee817bff07c411840039ed1f49504d61636a" target="_blank">
        <button class="button is-large">HeadHunter</button>
    </form>
</p>
{% endblock %}