{% extends "main/base.html" %}

{% block content %}
<h1 class="title">
  Hello there! I'm a Junior Python Developer
</h1>
<h2 class="subtitle">
  My skills
</h2>
<div class="columns">
  <div class="column">
    <div class="box">
      <p class="is-size-4">Authentification</p>
      <p class="is-size-4">Simple login form with hashing passwords</p>
      <span class="tag is-primary is-light">Flask</span>
      <span class="tag is-info is-light">PostgreSQL</span>
      <span class="tag is-warning is-light">SQLAlchemy</span>
    </div>
  </div>
  <div class="column">
    Second column
  </div>
  <div class="column">
    Third column
  </div>
</div>
{% endblock %}