{% extends "main/base.html" %}

{% block content %}
<h1 class="title">
  Hello there! I'm a Junior Python Developer
</h1>
<h2 class="subtitle">
  My skills
</h2>
<div class="columns">
  <div class="column">
    <div class="box">
      Login form</br>
      Simple login form with hashing passwords</br>
      <button class="button is-info is-light">Info</button>
      <button class="button is-warning is-light">Warning</button>
    </div>
  </div>
  <div class="column">
    Second column
  </div>
  <div class="column">
    Third column
  </div>
</div>
{% endblock %}